/* todo preivew / list */
.todo-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}
.todo-preview:hover {
    background-color: rgba(60, 200, 100, 0.5);
    cursor: pointer;
}
.todo-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

/* todo preview /item */
.todo-checkbox {
    margin: 10px;
}

.todo-item {
    font-size: 20px;
}